<a href="https://colab.research.google.com/github/Sanaullahbaig/Pandas-notebook/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas

**Data Structure in Python Pandas:** ->
The pandas provides two data structures for processing the data.
Series & DataFrame And Panel

***We Can use print(variabe_name) to display the data in plain text ouput but it will only work in Colab and Jupyter and just write the variable_name to display the table output.***

**Series** -> It is one dimensional array that is capable of storing various data types.

In [85]:
import pandas as pd
x = [6, 7, 8, 9]
a = pd.Series(x)
print(a)
print(type(a))
# get value by index number
print(a[2])

# parameters ->index will be a,b,c,d and datatype will be float and name will be python
b = pd.Series(x, index=['a', 'b', 'c', 'd'], dtype='float', name='python')
print(b)

0    6
1    7
2    8
3    9
dtype: int64
<class 'pandas.core.series.Series'>
8
a    6.0
b    7.0
c    8.0
d    9.0
Name: python, dtype: float64

Dictionary in Series

In [10]:
dic = {
    "name" : ['python', 'C', 'C++', 'Java'],
    "popularity" : [12, 13, 14, 15],
    "rank" : [1, 4, 3, 2]
}

a = pd.Series(dic) # datatype will be object as there is mixed data

print(a)

name          [python, C, C++, Java]
popularity          [12, 13, 14, 15]
rank                    [1, 4, 3, 2]
dtype: object

Single data Series

In [17]:
s = pd.Series(12)
print(s)
print(type(s))

# We can print one value multiple time by giving it's index
c = pd.Series(12, index=[1, 2, 3, 4, 5, 6, 7])
print(c)
print(type(c))

0    12
dtype: int64
<class 'pandas.core.series.Series'>
1    12
2    12
3    12
4    12
5    12
6    12
7    12
dtype: int64
<class 'pandas.core.series.Series'>

Addition

In [18]:
# It will not show error where data is missing, it perform operation on missing data
c1 = pd.Series(12, index=[1, 2, 3, 4, 5, 6, 7])
c2 = pd.Series(12, index=[1, 2, 3, 4])
print(c1 + c2)

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
dtype: float64

DataFrame -> two dimensions data structure, it can be created by list and dictionary

In [24]:
l = [1, 2, 3, 4, 5, 6]
var1 = pd.DataFrame(l)
print(var1)
print(type(var1))
# the number of data should be same
d = {
    'a' : [1, 2, 3, 4, 5],
    's' : [6, 7, 8, 9, 5]
}
var2 = pd.DataFrame(d)
print(var2)

   0
0  1
1  2
2  3
3  4
4  5
5  6
<class 'pandas.core.frame.DataFrame'>
   a  s
0  1  6
1  2  7
2  3  8
3  4  9
4  5  5

In [38]:
d = {
    'a' : [1, 2, 3, 4, 5],
    's' : [6, 7, 8, 9, 5],
    'c' : [3, 4, 2, 0, 8],
    1 : ['e', 'g', 't', 'o', 'h']
}
# for a particular column
var2 = pd.DataFrame(d, columns=['c', 1], index= ['x', 'y', 'z', 'm', 'j'])
print(var2)

   c  1
x  3  e
y  4  g
z  2  t
m  0  o
j  8  h

In [41]:
# getting a particular value
d = {
    'a' : [1, 2, 3, 4, 5],
    's' : [6, 7, 8, 9, 5],
    'c' : [3, 4, 2, 0, 8],
    1 : ['e', 'g', 't', 'o', 'h']
}

var3 = pd.DataFrame(d)
# variable_name[column][row]
print(var3['a'][3])

4

In [42]:
# DataFrame by list
list_1 = [[1, 2, 3, 4, 5],[6, 7, 8, 9, 0]]

var4 = pd.DataFrame(list_1)
print(var4)
print(type(var4))

   0  1  2  3  4
0  1  2  3  4  5
1  6  7  8  9  0
<class 'pandas.core.frame.DataFrame'>

In [52]:
# DataFrame by Series
dict_1 = {
    "n" : pd.Series([1, 2, 3, 4]),
    "m" : pd.Series([1, 2, 3, 4])
}
var5 = pd.DataFrame(dict_1)
print(var5)

   n  m
0  1  1
1  2  2
2  3  3
3  4  4

Arithmetic Operation

In [58]:
# Addition
my_dict = {
    "A" : [1, 2, 3, 4],
    "B" : [5, 6, 8, 9]
}
var = pd.DataFrame(my_dict)
var['C'] = var['A'] + var['B']
print(var)

   A  B   C
0  1  5   6
1  2  6   8
2  3  8  11
3  4  9  13

In [47]:
# Subtraction
var['C'] = var['A'] - var['B']
print(var)

   A  B  C
0  1  5 -4
1  2  6 -4
2  3  8 -5
3  4  9 -5

In [48]:
# Multiplication
var['C'] = var['A'] * var['B']
print(var)

   A  B   C
0  1  5   5
1  2  6  12
2  3  8  24
3  4  9  36

In [49]:
# Division
var['C'] = var['A'] / var['B']
print(var)

   A  B         C
0  1  5  0.200000
1  2  6  0.333333
2  3  8  0.375000
3  4  9  0.444444

In [70]:
# Boolean
my_dict = {
    "A" : [10, 20, 30, 40],
    "B" : [15, 16, 18, 19]
}
var = pd.DataFrame(my_dict)
var['Python'] = var['A'] <= 20
var['Python_1'] = var['B'] > 16
print(var)

    A   B  Python  Python_1
0  10  15    True     False
1  20  16    True     False
2  30  18   False      True
3  40  19   False      True

Insert and Delete

In [71]:
# Insertion
dict_2 = {
    "A" : [10, 20, 30, 40, 50],
    "B" : [15, 16, 18, 19, 13]
}
var5 = pd.DataFrame(dict_2)
# variable_name.insert(index_number_by_column, Column_name, data)
var5.insert(1, 'Python', [1, 2, 3, 4, 5])
print(var5)

    A  Python   B
0  10       1  15
1  20       2  16
2  30       3  18
3  40       4  19
4  50       5  13

In [72]:
# for copying limited amount of data
dict_3 = {
    "A" : [10, 20, 30, 40, 50],
    "B" : [15, 16, 18, 19, 13]
}
var6 = pd.DataFrame(dict_3)
# variable_name[new_column_name] = variable_name[column_name][index_number]
var6['python_12'] = var5["A"][0:3]
print(var6)

    A   B  python_12
0  10  15       10.0
1  20  16       20.0
2  30  18       30.0
3  40  19        NaN
4  50  13        NaN

In [73]:
# Delete
dict_4 = {
    "A" : [10, 20, 30, 40, 50],
    "B" : [15, 16, 18, 19, 13]
}
var7 = pd.DataFrame(dict_4)
var8 = var7.pop("B")
# we can also delete by "del var7["B"]"
print(var7) # will display the table after delition
print(var8) # will display the values which are deleted

    A
0  10
1  20
2  30
3  40
4  50
0    15
1    16
2    18
3    19
4    13
Name: B, dtype: int64

CSV File

In [78]:
dict_5 = {
    "A" : [10, 20, 30, 40, 50],
    "B" : [15, 16, 18, 19, 13],
    "C" : [5, 6, 8, 9, 3]
}
var_1 = pd.DataFrame(dict_5)
print(var_1)
# create csv file
# here we give index+ False to not create it's index
var_1.to_csv('text_new1.csv', index=False, header=[1, 2, 3])

    A   B  C
0  10  15  5
1  20  16  6
2  30  18  8
3  40  19  9
4  50  13  3

Read CSV File

In [99]:
# as we have file in our pc and colab don't have access to pc files so we use files module to upload file temoporaily

# from google.colab import files
# import pandas as pd

# Step 1: Upload the file from your PC
# uploaded = files.upload()  # Choose text.csv when prompted

# Step 2: Read the uploaded file (no need for E:\ path)
# csv1 = pd.read_csv("text.csv")

# Step 3: Display the data
# csv1

In [101]:
# first we upload the file then we read it
csv_1 = pd.read_csv("text.csv")
print(csv_1) # will print as plain text
csv_1 # will show a table

    ID            Name  Age  Gender               Department        City  \
0    1        Ali Khan   21    Male         Computer Science      Lahore
1    2      Sana Ahmed   22  Female     Software Engineering     Karachi
2    3      Ahmed Raza   20    Male   Information Technology   Islamabad
3    4     Ayesha Noor   23  Female             Data Science  Faisalabad
4    5     Usman Tariq   21    Male  Artificial Intelligence  Rawalpindi
5    6      Hina Malik   22  Female     Software Engineering      Lahore
6    7      Farhan Ali   20    Male         Computer Science     Karachi
7    8      Maria Khan   21  Female             Data Science   Islamabad
8    9      Zain Rafiq   22    Male  Artificial Intelligence      Multan
9   10     Laiba Ahmed   23  Female   Information Technology  Faisalabad
10  11     Hassan Raza   21    Male         Computer Science  Rawalpindi
11  12     Noor Fatima   22  Female             Data Science      Lahore
12  13      Talha Shah   20    Male     Software Engineering     Karachi
13  14      Anum Tariq   21  Female  Artificial Intelligence   Islamabad
14  15      Saad Iqbal   23    Male         Computer Science  Faisalabad
15  16      Alina Rauf   20  Female   Information Technology      Lahore
16  17   Shahzaib Khan   22    Male             Data Science  Rawalpindi
17  18    Fatima Aslam   21  Female     Software Engineering     Karachi
18  19  Abdullah Zafar   23    Male  Artificial Intelligence      Multan
19  20    Hareem Zahra   20  Female         Computer Science   Islamabad
20  21    Adeel Akhtar   21    Male   Information Technology      Lahore
21  22     Iqra Yousaf   22  Female             Data Science  Faisalabad
22  23    Kamran Malik   20    Male     Software Engineering     Karachi
23  24   Mehwish Tariq   23  Female  Artificial Intelligence  Rawalpindi
24  25    Imran Haider   21    Male         Computer Science      Lahore
25  26      Aiman Khan   20  Female             Data Science   Islamabad
26  27   Shahid Afridi   22    Male   Information Technology      Multan
27  28      Sadia Noor   23  Female     Software Engineering     Karachi
28  29        Ali Raza   21    Male  Artificial Intelligence  Faisalabad
29  30    Kinza Rehman   22  Female         Computer Science  Rawalpindi
30  31    Murtaza Shah   23    Male             Data Science      Lahore
31  32     Anila Ahmed   21  Female     Software Engineering   Islamabad
32  33     Hamza Tariq   22    Male  Artificial Intelligence     Karachi
33  34   Samina Yousaf   20  Female         Computer Science  Faisalabad
34  35    Naveed Iqbal   21    Male   Information Technology      Lahore
35  36     Sobia Malik   22  Female             Data Science      Multan
36  37      Omer Javed   23    Male     Software Engineering   Islamabad
37  38    Sehrish Khan   21  Female  Artificial Intelligence  Rawalpindi
38  39      Rehan Butt   20    Male         Computer Science      Lahore
39  40     Shazia Noor   23  Female             Data Science     Karachi
40  41  Hammad Qureshi   22    Male     Software Engineering      Multan
41  42     Arisha Zain   21  Female   Information Technology  Faisalabad
42  43     Zeeshan Ali   20    Male  Artificial Intelligence   Islamabad
43  44     Areeba Khan   23  Female         Computer Science      Lahore
44  45     Jawad Aslam   22    Male             Data Science     Karachi
45  46     Fizza Malik   21  Female     Software Engineering  Rawalpindi
46  47     Mohsin Raza   23    Male  Artificial Intelligence  Faisalabad
47  48     Amna Yousaf   20  Female   Information Technology      Lahore
48  49    Rizwan Ahmed   22    Male         Computer Science   Islamabad
49  50      Hira Iqbal   21  Female             Data Science     Karachi

    Marks
0      88
1      92
2      79
3      95
4      84
5      90
6      76
7      89
8      81
9      93
10     85
11     97
12     78
13     88
14     82
15     91
16     80
17     94
18     86
19     90
20     84
21     96
22     75
23     91
24     79
25     92
26     83
27     95
28     87
29     90
30     89
31     93
32     85
33     97
34     80
35     94
36     88
37     90
38     83
39     91
40     87
41     92
42     85
43     94
44     78
45     89
46     81
47     93
48     88
49     96

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21,Male,Computer Science,Lahore,88
1,2,Sana Ahmed,22,Female,Software Engineering,Karachi,92
2,3,Ahmed Raza,20,Male,Information Technology,Islamabad,79
3,4,Ayesha Noor,23,Female,Data Science,Faisalabad,95
4,5,Usman Tariq,21,Male,Artificial Intelligence,Rawalpindi,84
5,6,Hina Malik,22,Female,Software Engineering,Lahore,90
6,7,Farhan Ali,20,Male,Computer Science,Karachi,76
7,8,Maria Khan,21,Female,Data Science,Islamabad,89
8,9,Zain Rafiq,22,Male,Artificial Intelligence,Multan,81
9,10,Laiba Ahmed,23,Female,Information Technology,Faisalabad,93
10,11,Hassan Raza,21,Male,Computer Science,Rawalpindi,85
11,12,Noor Fatima,22,Female,Data Science,Lahore,97
12,13,Talha Shah,20,Male,Software Engineering,Karachi,78
13,14,Anum Tariq,21,Female,Artificial Intelligence,Islamabad,88
14,15,Saad Iqbal,23,Male,Computer Science,Faisalabad,82
15,16,Alina Rauf,20,Female,Information Technology,Lahore,91
16,17,Shahzaib Khan,22,Male,Data Science,Rawalpindi,80
17,18,Fatima Aslam,21,Female,Software Engineering,Karachi,94
18,19,Abdullah Zafar,23,Male,Artificial Intelligence,Multan,86
19,20,Hareem Zahra,20,Female,Computer Science,Islamabad,90
20,21,Adeel Akhtar,21,Male,Information Technology,Lahore,84
21,22,Iqra Yousaf,22,Female,Data Science,Faisalabad,96
22,23,Kamran Malik,20,Male,Software Engineering,Karachi,75
23,24,Mehwish Tariq,23,Female,Artificial Intelligence,Rawalpindi,91
24,25,Imran Haider,21,Male,Computer Science,Lahore,79
25,26,Aiman Khan,20,Female,Data Science,Islamabad,92
26,27,Shahid Afridi,22,Male,Information Technology,Multan,83
27,28,Sadia Noor,23,Female,Software Engineering,Karachi,95
28,29,Ali Raza,21,Male,Artificial Intelligence,Faisalabad,87
29,30,Kinza Rehman,22,Female,Computer Science,Rawalpindi,90
30,31,Murtaza Shah,23,Male,Data Science,Lahore,89
31,32,Anila Ahmed,21,Female,Software Engineering,Islamabad,93
32,33,Hamza Tariq,22,Male,Artificial Intelligence,Karachi,85
33,34,Samina Yousaf,20,Female,Computer Science,Faisalabad,97
34,35,Naveed Iqbal,21,Male,Information Technology,Lahore,80
35,36,Sobia Malik,22,Female,Data Science,Multan,94
36,37,Omer Javed,23,Male,Software Engineering,Islamabad,88
37,38,Sehrish Khan,21,Female,Artificial Intelligence,Rawalpindi,90
38,39,Rehan Butt,20,Male,Computer Science,Lahore,83
39,40,Shazia Noor,23,Female,Data Science,Karachi,91
40,41,Hammad Qureshi,22,Male,Software Engineering,Multan,87
41,42,Arisha Zain,21,Female,Information Technology,Faisalabad,92
42,43,Zeeshan Ali,20,Male,Artificial Intelligence,Islamabad,85
43,44,Areeba Khan,23,Female,Computer Science,Lahore,94
44,45,Jawad Aslam,22,Male,Data Science,Karachi,78
45,46,Fizza Malik,21,Female,Software Engineering,Rawalpindi,89
46,47,Mohsin Raza,23,Male,Artificial Intelligence,Faisalabad,81
47,48,Amna Yousaf,20,Female,Information Technology,Lahore,93
48,49,Rizwan Ahmed,22,Male,Computer Science,Islamabad,88
49,50,Hira Iqbal,21,Female,Data Science,Karachi,96

In [106]:
# For particular rows we will give the number of rows
csv_2 = pd.read_csv("text.csv", nrows=3)
print(csv_2)
print(type(csv_2))

   ID        Name  Age  Gender              Department       City  Marks
0   1    Ali Khan   21    Male        Computer Science     Lahore     88
1   2  Sana Ahmed   22  Female    Software Engineering    Karachi     92
2   3  Ahmed Raza   20    Male  Information Technology  Islamabad     79
<class 'pandas.core.frame.DataFrame'>

In [112]:
# For particular column we will give the name of column or index number, but we have to give the
# same data like give all names or all index numbers we can't take name and index number at the same time
csv_3 = pd.read_csv("text.csv", usecols=["Name", "Department"])
csv_4 = pd.read_csv("text.csv", usecols=[1, 4])
print(csv_3)
print(csv_4)

              Name               Department
0         Ali Khan         Computer Science
1       Sana Ahmed     Software Engineering
2       Ahmed Raza   Information Technology
3      Ayesha Noor             Data Science
4      Usman Tariq  Artificial Intelligence
5       Hina Malik     Software Engineering
6       Farhan Ali         Computer Science
7       Maria Khan             Data Science
8       Zain Rafiq  Artificial Intelligence
9      Laiba Ahmed   Information Technology
10     Hassan Raza         Computer Science
11     Noor Fatima             Data Science
12      Talha Shah     Software Engineering
13      Anum Tariq  Artificial Intelligence
14      Saad Iqbal         Computer Science
15      Alina Rauf   Information Technology
16   Shahzaib Khan             Data Science
17    Fatima Aslam     Software Engineering
18  Abdullah Zafar  Artificial Intelligence
19    Hareem Zahra         Computer Science
20    Adeel Akhtar   Information Technology
21     Iqra Yousaf             Data Science
22    Kamran Malik     Software Engineering
23   Mehwish Tariq  Artificial Intelligence
24    Imran Haider         Computer Science
25      Aiman Khan             Data Science
26   Shahid Afridi   Information Technology
27      Sadia Noor     Software Engineering
28        Ali Raza  Artificial Intelligence
29    Kinza Rehman         Computer Science
30    Murtaza Shah             Data Science
31     Anila Ahmed     Software Engineering
32     Hamza Tariq  Artificial Intelligence
33   Samina Yousaf         Computer Science
34    Naveed Iqbal   Information Technology
35     Sobia Malik             Data Science
36      Omer Javed     Software Engineering
37    Sehrish Khan  Artificial Intelligence
38      Rehan Butt         Computer Science
39     Shazia Noor             Data Science
40  Hammad Qureshi     Software Engineering
41     Arisha Zain   Information Technology
42     Zeeshan Ali  Artificial Intelligence
43     Areeba Khan         Computer Science
44     Jawad Aslam             Data Science
45     Fizza Malik     Software Engineering
46     Mohsin Raza  Artificial Intelligence
47     Amna Yousaf   Information Technology
48    Rizwan Ahmed         Computer Science
49      Hira Iqbal             Data Science
              Name               Department
0         Ali Khan         Computer Science
1       Sana Ahmed     Software Engineering
2       Ahmed Raza   Information Technology
3      Ayesha Noor             Data Science
4      Usman Tariq  Artificial Intelligence
5       Hina Malik     Software Engineering
6       Farhan Ali         Computer Science
7       Maria Khan             Data Science
8       Zain Rafiq  Artificial Intelligence
9      Laiba Ahmed   Information Technology
10     Hassan Raza         Computer Science
11     Noor Fatima             Data Science
12      Talha Shah     Software Engineering
13      Anum Tariq  Artificial Intelligence
14      Saad Iqbal         Computer Science
15      Alina Rauf   Information Technology
16   Shahzaib Khan             Data Science
17    Fatima Aslam     Software Engineering
18  Abdullah Zafar  Artificial Intelligence
19    Hareem Zahra         Computer Science
20    Adeel Akhtar   Information Technology
21     Iqra Yousaf             Data Science
22    Kamran Malik     Software Engineering
23   Mehwish Tariq  Artificial Intelligence
24    Imran Haider         Computer Science
25      Aiman Khan             Data Science
26   Shahid Afridi   Information Technology
27      Sadia Noor     Software Engineering
28        Ali Raza  Artificial Intelligence
29    Kinza Rehman         Computer Science
30    Murtaza Shah             Data Science
31     Anila Ahmed     Software Engineering
32     Hamza Tariq  Artificial Intelligence
33   Samina Yousaf         Computer Science
34    Naveed Iqbal   Information Technology
35     Sobia Malik             Data Science
36      Omer Javed     Software Engineering
37    Sehrish Khan  Artificial Intelligence
38      Rehan Butt         Computer Science
39     Shazia Noor             Data Science
40  Hammad Qureshi     Software Engineering
41     Arisha Zain   Information Technology
42     Zeeshan Ali  Artificial Intelligence
43     Areeba Khan         Computer Science
44     Jawad Aslam             Data Science
45     Fizza Malik     Software Engineering
46     Mohsin Raza  Artificial Intelligence
47     Amna Yousaf   Information Technology
48    Rizwan Ahmed         Computer Science
49      Hira Iqbal             Data Science

In [115]:
# Skip rows
csv_5 = pd.read_csv("text.csv", skiprows=[1, 5, 9]) # will skip rows with index number 1,5,9
print(csv_5)

    ID            Name  Age  Gender               Department        City  \
0    2      Sana Ahmed   22  Female     Software Engineering     Karachi
1    3      Ahmed Raza   20    Male   Information Technology   Islamabad
2    4     Ayesha Noor   23  Female             Data Science  Faisalabad
3    6      Hina Malik   22  Female     Software Engineering      Lahore
4    7      Farhan Ali   20    Male         Computer Science     Karachi
5    8      Maria Khan   21  Female             Data Science   Islamabad
6   10     Laiba Ahmed   23  Female   Information Technology  Faisalabad
7   11     Hassan Raza   21    Male         Computer Science  Rawalpindi
8   12     Noor Fatima   22  Female             Data Science      Lahore
9   13      Talha Shah   20    Male     Software Engineering     Karachi
10  14      Anum Tariq   21  Female  Artificial Intelligence   Islamabad
11  15      Saad Iqbal   23    Male         Computer Science  Faisalabad
12  16      Alina Rauf   20  Female   Information Technology      Lahore
13  17   Shahzaib Khan   22    Male             Data Science  Rawalpindi
14  18    Fatima Aslam   21  Female     Software Engineering     Karachi
15  19  Abdullah Zafar   23    Male  Artificial Intelligence      Multan
16  20    Hareem Zahra   20  Female         Computer Science   Islamabad
17  21    Adeel Akhtar   21    Male   Information Technology      Lahore
18  22     Iqra Yousaf   22  Female             Data Science  Faisalabad
19  23    Kamran Malik   20    Male     Software Engineering     Karachi
20  24   Mehwish Tariq   23  Female  Artificial Intelligence  Rawalpindi
21  25    Imran Haider   21    Male         Computer Science      Lahore
22  26      Aiman Khan   20  Female             Data Science   Islamabad
23  27   Shahid Afridi   22    Male   Information Technology      Multan
24  28      Sadia Noor   23  Female     Software Engineering     Karachi
25  29        Ali Raza   21    Male  Artificial Intelligence  Faisalabad
26  30    Kinza Rehman   22  Female         Computer Science  Rawalpindi
27  31    Murtaza Shah   23    Male             Data Science      Lahore
28  32     Anila Ahmed   21  Female     Software Engineering   Islamabad
29  33     Hamza Tariq   22    Male  Artificial Intelligence     Karachi
30  34   Samina Yousaf   20  Female         Computer Science  Faisalabad
31  35    Naveed Iqbal   21    Male   Information Technology      Lahore
32  36     Sobia Malik   22  Female             Data Science      Multan
33  37      Omer Javed   23    Male     Software Engineering   Islamabad
34  38    Sehrish Khan   21  Female  Artificial Intelligence  Rawalpindi
35  39      Rehan Butt   20    Male         Computer Science      Lahore
36  40     Shazia Noor   23  Female             Data Science     Karachi
37  41  Hammad Qureshi   22    Male     Software Engineering      Multan
38  42     Arisha Zain   21  Female   Information Technology  Faisalabad
39  43     Zeeshan Ali   20    Male  Artificial Intelligence   Islamabad
40  44     Areeba Khan   23  Female         Computer Science      Lahore
41  45     Jawad Aslam   22    Male             Data Science     Karachi
42  46     Fizza Malik   21  Female     Software Engineering  Rawalpindi
43  47     Mohsin Raza   23    Male  Artificial Intelligence  Faisalabad
44  48     Amna Yousaf   20  Female   Information Technology      Lahore
45  49    Rizwan Ahmed   22    Male         Computer Science   Islamabad
46  50      Hira Iqbal   21  Female             Data Science     Karachi

    Marks
0      92
1      79
2      95
3      90
4      76
5      89
6      93
7      85
8      97
9      78
10     88
11     82
12     91
13     80
14     94
15     86
16     90
17     84
18     96
19     75
20     91
21     79
22     92
23     83
24     95
25     87
26     90
27     89
28     93
29     85
30     97
31     80
32     94
33     88
34     90
35     83
36     91
37     87
38     92
39     85
40     94
41     78
42     89
43     81
44     93
45     88
46     96

In [117]:
# Change index
csv_6 = pd.read_csv("text.csv", index_col= ["Marks"])
print(csv_6)

       ID            Name  Age  Gender               Department        City
Marks
88      1        Ali Khan   21    Male         Computer Science      Lahore
92      2      Sana Ahmed   22  Female     Software Engineering     Karachi
79      3      Ahmed Raza   20    Male   Information Technology   Islamabad
95      4     Ayesha Noor   23  Female             Data Science  Faisalabad
84      5     Usman Tariq   21    Male  Artificial Intelligence  Rawalpindi
90      6      Hina Malik   22  Female     Software Engineering      Lahore
76      7      Farhan Ali   20    Male         Computer Science     Karachi
89      8      Maria Khan   21  Female             Data Science   Islamabad
81      9      Zain Rafiq   22    Male  Artificial Intelligence      Multan
93     10     Laiba Ahmed   23  Female   Information Technology  Faisalabad
85     11     Hassan Raza   21    Male         Computer Science  Rawalpindi
97     12     Noor Fatima   22  Female             Data Science      Lahore
78     13      Talha Shah   20    Male     Software Engineering     Karachi
88     14      Anum Tariq   21  Female  Artificial Intelligence   Islamabad
82     15      Saad Iqbal   23    Male         Computer Science  Faisalabad
91     16      Alina Rauf   20  Female   Information Technology      Lahore
80     17   Shahzaib Khan   22    Male             Data Science  Rawalpindi
94     18    Fatima Aslam   21  Female     Software Engineering     Karachi
86     19  Abdullah Zafar   23    Male  Artificial Intelligence      Multan
90     20    Hareem Zahra   20  Female         Computer Science   Islamabad
84     21    Adeel Akhtar   21    Male   Information Technology      Lahore
96     22     Iqra Yousaf   22  Female             Data Science  Faisalabad
75     23    Kamran Malik   20    Male     Software Engineering     Karachi
91     24   Mehwish Tariq   23  Female  Artificial Intelligence  Rawalpindi
79     25    Imran Haider   21    Male         Computer Science      Lahore
92     26      Aiman Khan   20  Female             Data Science   Islamabad
83     27   Shahid Afridi   22    Male   Information Technology      Multan
95     28      Sadia Noor   23  Female     Software Engineering     Karachi
87     29        Ali Raza   21    Male  Artificial Intelligence  Faisalabad
90     30    Kinza Rehman   22  Female         Computer Science  Rawalpindi
89     31    Murtaza Shah   23    Male             Data Science      Lahore
93     32     Anila Ahmed   21  Female     Software Engineering   Islamabad
85     33     Hamza Tariq   22    Male  Artificial Intelligence     Karachi
97     34   Samina Yousaf   20  Female         Computer Science  Faisalabad
80     35    Naveed Iqbal   21    Male   Information Technology      Lahore
94     36     Sobia Malik   22  Female             Data Science      Multan
88     37      Omer Javed   23    Male     Software Engineering   Islamabad
90     38    Sehrish Khan   21  Female  Artificial Intelligence  Rawalpindi
83     39      Rehan Butt   20    Male         Computer Science      Lahore
91     40     Shazia Noor   23  Female             Data Science     Karachi
87     41  Hammad Qureshi   22    Male     Software Engineering      Multan
92     42     Arisha Zain   21  Female   Information Technology  Faisalabad
85     43     Zeeshan Ali   20    Male  Artificial Intelligence   Islamabad
94     44     Areeba Khan   23  Female         Computer Science      Lahore
78     45     Jawad Aslam   22    Male             Data Science     Karachi
89     46     Fizza Malik   21  Female     Software Engineering  Rawalpindi
81     47     Mohsin Raza   23    Male  Artificial Intelligence  Faisalabad
93     48     Amna Yousaf   20  Female   Information Technology      Lahore
88     49    Rizwan Ahmed   22    Male         Computer Science   Islamabad
96     50      Hira Iqbal   21  Female             Data Science     Karachi

In [118]:
# Make Heading give the number of rows which you want as heading and it will skip all the first rows
csv_7 = pd.read_csv("text.csv", header= 5)
print(csv_7)

     5     Usman Tariq  21    Male  Artificial Intelligence  Rawalpindi  84
0    6      Hina Malik  22  Female     Software Engineering      Lahore  90
1    7      Farhan Ali  20    Male         Computer Science     Karachi  76
2    8      Maria Khan  21  Female             Data Science   Islamabad  89
3    9      Zain Rafiq  22    Male  Artificial Intelligence      Multan  81
4   10     Laiba Ahmed  23  Female   Information Technology  Faisalabad  93
5   11     Hassan Raza  21    Male         Computer Science  Rawalpindi  85
6   12     Noor Fatima  22  Female             Data Science      Lahore  97
7   13      Talha Shah  20    Male     Software Engineering     Karachi  78
8   14      Anum Tariq  21  Female  Artificial Intelligence   Islamabad  88
9   15      Saad Iqbal  23    Male         Computer Science  Faisalabad  82
10  16      Alina Rauf  20  Female   Information Technology      Lahore  91
11  17   Shahzaib Khan  22    Male             Data Science  Rawalpindi  80
12  18    Fatima Aslam  21  Female     Software Engineering     Karachi  94
13  19  Abdullah Zafar  23    Male  Artificial Intelligence      Multan  86
14  20    Hareem Zahra  20  Female         Computer Science   Islamabad  90
15  21    Adeel Akhtar  21    Male   Information Technology      Lahore  84
16  22     Iqra Yousaf  22  Female             Data Science  Faisalabad  96
17  23    Kamran Malik  20    Male     Software Engineering     Karachi  75
18  24   Mehwish Tariq  23  Female  Artificial Intelligence  Rawalpindi  91
19  25    Imran Haider  21    Male         Computer Science      Lahore  79
20  26      Aiman Khan  20  Female             Data Science   Islamabad  92
21  27   Shahid Afridi  22    Male   Information Technology      Multan  83
22  28      Sadia Noor  23  Female     Software Engineering     Karachi  95
23  29        Ali Raza  21    Male  Artificial Intelligence  Faisalabad  87
24  30    Kinza Rehman  22  Female         Computer Science  Rawalpindi  90
25  31    Murtaza Shah  23    Male             Data Science      Lahore  89
26  32     Anila Ahmed  21  Female     Software Engineering   Islamabad  93
27  33     Hamza Tariq  22    Male  Artificial Intelligence     Karachi  85
28  34   Samina Yousaf  20  Female         Computer Science  Faisalabad  97
29  35    Naveed Iqbal  21    Male   Information Technology      Lahore  80
30  36     Sobia Malik  22  Female             Data Science      Multan  94
31  37      Omer Javed  23    Male     Software Engineering   Islamabad  88
32  38    Sehrish Khan  21  Female  Artificial Intelligence  Rawalpindi  90
33  39      Rehan Butt  20    Male         Computer Science      Lahore  83
34  40     Shazia Noor  23  Female             Data Science     Karachi  91
35  41  Hammad Qureshi  22    Male     Software Engineering      Multan  87
36  42     Arisha Zain  21  Female   Information Technology  Faisalabad  92
37  43     Zeeshan Ali  20    Male  Artificial Intelligence   Islamabad  85
38  44     Areeba Khan  23  Female         Computer Science      Lahore  94
39  45     Jawad Aslam  22    Male             Data Science     Karachi  78
40  46     Fizza Malik  21  Female     Software Engineering  Rawalpindi  89
41  47     Mohsin Raza  23    Male  Artificial Intelligence  Faisalabad  81
42  48     Amna Yousaf  20  Female   Information Technology      Lahore  93
43  49    Rizwan Ahmed  22    Male         Computer Science   Islamabad  88
44  50      Hira Iqbal  21  Female             Data Science     Karachi  96

In [126]:
# Giving name
csv_8 = pd.read_csv("text.csv", names = ["Col1", "Col2", "Col3", "Col4", "Col5", "Col6", "Col7"])
print(csv_8)

   Col1            Col2 Col3    Col4                     Col5        Col6  \
0    ID            Name  Age  Gender               Department        City
1     1        Ali Khan   21    Male         Computer Science      Lahore
2     2      Sana Ahmed   22  Female     Software Engineering     Karachi
3     3      Ahmed Raza   20    Male   Information Technology   Islamabad
4     4     Ayesha Noor   23  Female             Data Science  Faisalabad
5     5     Usman Tariq   21    Male  Artificial Intelligence  Rawalpindi
6     6      Hina Malik   22  Female     Software Engineering      Lahore
7     7      Farhan Ali   20    Male         Computer Science     Karachi
8     8      Maria Khan   21  Female             Data Science   Islamabad
9     9      Zain Rafiq   22    Male  Artificial Intelligence      Multan
10   10     Laiba Ahmed   23  Female   Information Technology  Faisalabad
11   11     Hassan Raza   21    Male         Computer Science  Rawalpindi
12   12     Noor Fatima   22  Female             Data Science      Lahore
13   13      Talha Shah   20    Male     Software Engineering     Karachi
14   14      Anum Tariq   21  Female  Artificial Intelligence   Islamabad
15   15      Saad Iqbal   23    Male         Computer Science  Faisalabad
16   16      Alina Rauf   20  Female   Information Technology      Lahore
17   17   Shahzaib Khan   22    Male             Data Science  Rawalpindi
18   18    Fatima Aslam   21  Female     Software Engineering     Karachi
19   19  Abdullah Zafar   23    Male  Artificial Intelligence      Multan
20   20    Hareem Zahra   20  Female         Computer Science   Islamabad
21   21    Adeel Akhtar   21    Male   Information Technology      Lahore
22   22     Iqra Yousaf   22  Female             Data Science  Faisalabad
23   23    Kamran Malik   20    Male     Software Engineering     Karachi
24   24   Mehwish Tariq   23  Female  Artificial Intelligence  Rawalpindi
25   25    Imran Haider   21    Male         Computer Science      Lahore
26   26      Aiman Khan   20  Female             Data Science   Islamabad
27   27   Shahid Afridi   22    Male   Information Technology      Multan
28   28      Sadia Noor   23  Female     Software Engineering     Karachi
29   29        Ali Raza   21    Male  Artificial Intelligence  Faisalabad
30   30    Kinza Rehman   22  Female         Computer Science  Rawalpindi
31   31    Murtaza Shah   23    Male             Data Science      Lahore
32   32     Anila Ahmed   21  Female     Software Engineering   Islamabad
33   33     Hamza Tariq   22    Male  Artificial Intelligence     Karachi
34   34   Samina Yousaf   20  Female         Computer Science  Faisalabad
35   35    Naveed Iqbal   21    Male   Information Technology      Lahore
36   36     Sobia Malik   22  Female             Data Science      Multan
37   37      Omer Javed   23    Male     Software Engineering   Islamabad
38   38    Sehrish Khan   21  Female  Artificial Intelligence  Rawalpindi
39   39      Rehan Butt   20    Male         Computer Science      Lahore
40   40     Shazia Noor   23  Female             Data Science     Karachi
41   41  Hammad Qureshi   22    Male     Software Engineering      Multan
42   42     Arisha Zain   21  Female   Information Technology  Faisalabad
43   43     Zeeshan Ali   20    Male  Artificial Intelligence   Islamabad
44   44     Areeba Khan   23  Female         Computer Science      Lahore
45   45     Jawad Aslam   22    Male             Data Science     Karachi
46   46     Fizza Malik   21  Female     Software Engineering  Rawalpindi
47   47     Mohsin Raza   23    Male  Artificial Intelligence  Faisalabad
48   48     Amna Yousaf   20  Female   Information Technology      Lahore
49   49    Rizwan Ahmed   22    Male         Computer Science   Islamabad
50   50      Hira Iqbal   21  Female             Data Science     Karachi

     Col7
0   Marks
1      88
2      92
3      79
4      95
5      84
6      90
7      76
8      89
9      81
10     93
11     85
12     97
13     78
14     88
15     82
16     91
17     80
18     94
19     86
20     90
21     84
22     96
23     75
24     91
25     79
26     92
27     83
28     95
29     87
30     90
31     89
32     93
33     85
34     97
35     80
36     94
37     88
38     90
39     83
40     91
41     87
42     92
43     85
44     94
45     78
46     89
47     81
48     93
49     88
50     96

In [134]:
# Chnaging datatype
csv_9 = pd.read_csv("text.csv", dtype={"Age": "float", "Marks" : "float"})
print(csv_9)

    ID            Name   Age  Gender               Department        City  \
0    1        Ali Khan  21.0    Male         Computer Science      Lahore
1    2      Sana Ahmed  22.0  Female     Software Engineering     Karachi
2    3      Ahmed Raza  20.0    Male   Information Technology   Islamabad
3    4     Ayesha Noor  23.0  Female             Data Science  Faisalabad
4    5     Usman Tariq  21.0    Male  Artificial Intelligence  Rawalpindi
5    6      Hina Malik  22.0  Female     Software Engineering      Lahore
6    7      Farhan Ali  20.0    Male         Computer Science     Karachi
7    8      Maria Khan  21.0  Female             Data Science   Islamabad
8    9      Zain Rafiq  22.0    Male  Artificial Intelligence      Multan
9   10     Laiba Ahmed  23.0  Female   Information Technology  Faisalabad
10  11     Hassan Raza  21.0    Male         Computer Science  Rawalpindi
11  12     Noor Fatima  22.0  Female             Data Science      Lahore
12  13      Talha Shah  20.0    Male     Software Engineering     Karachi
13  14      Anum Tariq  21.0  Female  Artificial Intelligence   Islamabad
14  15      Saad Iqbal  23.0    Male         Computer Science  Faisalabad
15  16      Alina Rauf  20.0  Female   Information Technology      Lahore
16  17   Shahzaib Khan  22.0    Male             Data Science  Rawalpindi
17  18    Fatima Aslam  21.0  Female     Software Engineering     Karachi
18  19  Abdullah Zafar  23.0    Male  Artificial Intelligence      Multan
19  20    Hareem Zahra  20.0  Female         Computer Science   Islamabad
20  21    Adeel Akhtar  21.0    Male   Information Technology      Lahore
21  22     Iqra Yousaf  22.0  Female             Data Science  Faisalabad
22  23    Kamran Malik  20.0    Male     Software Engineering     Karachi
23  24   Mehwish Tariq  23.0  Female  Artificial Intelligence  Rawalpindi
24  25    Imran Haider  21.0    Male         Computer Science      Lahore
25  26      Aiman Khan  20.0  Female             Data Science   Islamabad
26  27   Shahid Afridi  22.0    Male   Information Technology      Multan
27  28      Sadia Noor  23.0  Female     Software Engineering     Karachi
28  29        Ali Raza  21.0    Male  Artificial Intelligence  Faisalabad
29  30    Kinza Rehman  22.0  Female         Computer Science  Rawalpindi
30  31    Murtaza Shah  23.0    Male             Data Science      Lahore
31  32     Anila Ahmed  21.0  Female     Software Engineering   Islamabad
32  33     Hamza Tariq  22.0    Male  Artificial Intelligence     Karachi
33  34   Samina Yousaf  20.0  Female         Computer Science  Faisalabad
34  35    Naveed Iqbal  21.0    Male   Information Technology      Lahore
35  36     Sobia Malik  22.0  Female             Data Science      Multan
36  37      Omer Javed  23.0    Male     Software Engineering   Islamabad
37  38    Sehrish Khan  21.0  Female  Artificial Intelligence  Rawalpindi
38  39      Rehan Butt  20.0    Male         Computer Science      Lahore
39  40     Shazia Noor  23.0  Female             Data Science     Karachi
40  41  Hammad Qureshi  22.0    Male     Software Engineering      Multan
41  42     Arisha Zain  21.0  Female   Information Technology  Faisalabad
42  43     Zeeshan Ali  20.0    Male  Artificial Intelligence   Islamabad
43  44     Areeba Khan  23.0  Female         Computer Science      Lahore
44  45     Jawad Aslam  22.0    Male             Data Science     Karachi
45  46     Fizza Malik  21.0  Female     Software Engineering  Rawalpindi
46  47     Mohsin Raza  23.0    Male  Artificial Intelligence  Faisalabad
47  48     Amna Yousaf  20.0  Female   Information Technology      Lahore
48  49    Rizwan Ahmed  22.0    Male         Computer Science   Islamabad
49  50      Hira Iqbal  21.0  Female             Data Science     Karachi

    Marks
0    88.0
1    92.0
2    79.0
3    95.0
4    84.0
5    90.0
6    76.0
7    89.0
8    81.0
9    93.0
10   85.0
11   97.0
12   78.0
13   88.0
14   82.0
15   91.0
16   80.0
17   94.0
18   86.0
19   90.0
20   84.0
21   96.0
22   75.0
23   91.0
24   79.0
25   92.0
26   83.0
27   95.0
28   87.0
29   90.0
30   89.0
31   93.0
32   85.0
33   97.0
34   80.0
35   94.0
36   88.0
37   90.0
38   83.0
39   91.0
40   87.0
41   92.0
42   85.0
43   94.0
44   78.0
45   89.0
46   81.0
47   93.0
48   88.0
49   96.0

Pandas Functions, CSV file reading and Writing

In [150]:
csv_10 = pd.read_csv("text.csv")
print(csv_10)

    ID            Name  Age  Gender               Department        City  \
0    1        Ali Khan   21    Male         Computer Science      Lahore
1    2      Sana Ahmed   22  Female     Software Engineering     Karachi
2    3      Ahmed Raza   20    Male   Information Technology   Islamabad
3    4     Ayesha Noor   23  Female             Data Science  Faisalabad
4    5     Usman Tariq   21    Male  Artificial Intelligence  Rawalpindi
5    6      Hina Malik   22  Female     Software Engineering      Lahore
6    7      Farhan Ali   20    Male         Computer Science     Karachi
7    8      Maria Khan   21  Female             Data Science   Islamabad
8    9      Zain Rafiq   22    Male  Artificial Intelligence      Multan
9   10     Laiba Ahmed   23  Female   Information Technology  Faisalabad
10  11     Hassan Raza   21    Male         Computer Science  Rawalpindi
11  12     Noor Fatima   22  Female             Data Science      Lahore
12  13      Talha Shah   20    Male     Software Engineering     Karachi
13  14      Anum Tariq   21  Female  Artificial Intelligence   Islamabad
14  15      Saad Iqbal   23    Male         Computer Science  Faisalabad
15  16      Alina Rauf   20  Female   Information Technology      Lahore
16  17   Shahzaib Khan   22    Male             Data Science  Rawalpindi
17  18    Fatima Aslam   21  Female     Software Engineering     Karachi
18  19  Abdullah Zafar   23    Male  Artificial Intelligence      Multan
19  20    Hareem Zahra   20  Female         Computer Science   Islamabad
20  21    Adeel Akhtar   21    Male   Information Technology      Lahore
21  22     Iqra Yousaf   22  Female             Data Science  Faisalabad
22  23    Kamran Malik   20    Male     Software Engineering     Karachi
23  24   Mehwish Tariq   23  Female  Artificial Intelligence  Rawalpindi
24  25    Imran Haider   21    Male         Computer Science      Lahore
25  26      Aiman Khan   20  Female             Data Science   Islamabad
26  27   Shahid Afridi   22    Male   Information Technology      Multan
27  28      Sadia Noor   23  Female     Software Engineering     Karachi
28  29        Ali Raza   21    Male  Artificial Intelligence  Faisalabad
29  30    Kinza Rehman   22  Female         Computer Science  Rawalpindi
30  31    Murtaza Shah   23    Male             Data Science      Lahore
31  32     Anila Ahmed   21  Female     Software Engineering   Islamabad
32  33     Hamza Tariq   22    Male  Artificial Intelligence     Karachi
33  34   Samina Yousaf   20  Female         Computer Science  Faisalabad
34  35    Naveed Iqbal   21    Male   Information Technology      Lahore
35  36     Sobia Malik   22  Female             Data Science      Multan
36  37      Omer Javed   23    Male     Software Engineering   Islamabad
37  38    Sehrish Khan   21  Female  Artificial Intelligence  Rawalpindi
38  39      Rehan Butt   20    Male         Computer Science      Lahore
39  40     Shazia Noor   23  Female             Data Science     Karachi
40  41  Hammad Qureshi   22    Male     Software Engineering      Multan
41  42     Arisha Zain   21  Female   Information Technology  Faisalabad
42  43     Zeeshan Ali   20    Male  Artificial Intelligence   Islamabad
43  44     Areeba Khan   23  Female         Computer Science      Lahore
44  45     Jawad Aslam   22    Male             Data Science     Karachi
45  46     Fizza Malik   21  Female     Software Engineering  Rawalpindi
46  47     Mohsin Raza   23    Male  Artificial Intelligence  Faisalabad
47  48     Amna Yousaf   20  Female   Information Technology      Lahore
48  49    Rizwan Ahmed   22    Male         Computer Science   Islamabad
49  50      Hira Iqbal   21  Female             Data Science     Karachi

    Marks
0      88
1      92
2      79
3      95
4      84
5      90
6      76
7      89
8      81
9      93
10     85
11     97
12     78
13     88
14     82
15     91
16     80
17     94
18     86
19     90
20     84
21     96
22     75
23     91
24     79
25     92
26     83
27     95
28     87
29     90
30     89
31     93
32     85
33     97
34     80
35     94
36     88
37     90
38     83
39     91
40     87
41     92
42     85
43     94
44     78
45     89
46     81
47     93
48     88
49     96

In [138]:
csv_10.index # It will give the index of starting and stoping pointing and step

RangeIndex(start=0, stop=50, step=1)

In [139]:
csv_10.columns # It will give the name of column

Index(['ID', 'Name', 'Age', 'Gender', 'Department', 'City', 'Marks'], dtype='object')

In [141]:
csv_10.describe() # It will give the count(), mean(), std(), min(), max() etc in column

             ID        Age      Marks
count  50.00000  50.000000  50.000000
mean   25.50000  21.480000  87.660000
std    14.57738   1.073617   5.909556
min     1.00000  20.000000  75.000000
25%    13.25000  21.000000  83.250000
50%    25.50000  21.000000  88.500000
75%    37.75000  22.000000  92.000000
max    50.00000  23.000000  97.000000

In [144]:
#           number of lines
csv_10.head(5) # here we can get the values from the top

   ID         Name  Age  Gender               Department        City  Marks
0   1     Ali Khan   21    Male         Computer Science      Lahore     88
1   2   Sana Ahmed   22  Female     Software Engineering     Karachi     92
2   3   Ahmed Raza   20    Male   Information Technology   Islamabad     79
3   4  Ayesha Noor   23  Female             Data Science  Faisalabad     95
4   5  Usman Tariq   21    Male  Artificial Intelligence  Rawalpindi     84

In [146]:
#           number of lines
csv_10.tail(3) # here we can get the values from the bottom

    ID          Name  Age  Gender              Department       City  Marks
47  48   Amna Yousaf   20  Female  Information Technology     Lahore     93
48  49  Rizwan Ahmed   22    Male        Computer Science  Islamabad     88
49  50    Hira Iqbal   21  Female            Data Science    Karachi     96

In [148]:
csv_10[5: 13] # It will give the data of rows with index no 5 to 12

    ID         Name  Age  Gender               Department        City  Marks
5    6   Hina Malik   22  Female     Software Engineering      Lahore     90
6    7   Farhan Ali   20    Male         Computer Science     Karachi     76
7    8   Maria Khan   21  Female             Data Science   Islamabad     89
8    9   Zain Rafiq   22    Male  Artificial Intelligence      Multan     81
9   10  Laiba Ahmed   23  Female   Information Technology  Faisalabad     93
10  11  Hassan Raza   21    Male         Computer Science  Rawalpindi     85
11  12  Noor Fatima   22  Female             Data Science      Lahore     97
12  13   Talha Shah   20    Male     Software Engineering     Karachi     78

In [151]:
csv_10.index.array # it will convert the index number into array

<NumpyExtensionArray>
[ np.int64(0),  np.int64(1),  np.int64(2),  np.int64(3),  np.int64(4),
  np.int64(5),  np.int64(6),  np.int64(7),  np.int64(8),  np.int64(9),
 np.int64(10), np.int64(11), np.int64(12), np.int64(13), np.int64(14),
 np.int64(15), np.int64(16), np.int64(17), np.int64(18), np.int64(19),
 np.int64(20), np.int64(21), np.int64(22), np.int64(23), np.int64(24),
 np.int64(25), np.int64(26), np.int64(27), np.int64(28), np.int64(29),
 np.int64(30), np.int64(31), np.int64(32), np.int64(33), np.int64(34),
 np.int64(35), np.int64(36), np.int64(37), np.int64(38), np.int64(39),
 np.int64(40), np.int64(41), np.int64(42), np.int64(43), np.int64(44),
 np.int64(45), np.int64(46), np.int64(47), np.int64(48), np.int64(49)]
Length: 50, dtype: int64

In [153]:
# converting into Numpy
csv_10.to_numpy()

array([[1, 'Ali Khan', 21, 'Male', 'Computer Science', 'Lahore', 88],
       [2, 'Sana Ahmed', 22, 'Female', 'Software Engineering', 'Karachi',
        92],
       [3, 'Ahmed Raza', 20, 'Male', 'Information Technology',
        'Islamabad', 79],
       [4, 'Ayesha Noor', 23, 'Female', 'Data Science', 'Faisalabad', 95],
       [5, 'Usman Tariq', 21, 'Male', 'Artificial Intelligence',
        'Rawalpindi', 84],
       [6, 'Hina Malik', 22, 'Female', 'Software Engineering', 'Lahore',
        90],
       [7, 'Farhan Ali', 20, 'Male', 'Computer Science', 'Karachi', 76],
       [8, 'Maria Khan', 21, 'Female', 'Data Science', 'Islamabad', 89],
       [9, 'Zain Rafiq', 22, 'Male', 'Artificial Intelligence', 'Multan',
        81],
       [10, 'Laiba Ahmed', 23, 'Female', 'Information Technology',
        'Faisalabad', 93],
       [11, 'Hassan Raza', 21, 'Male', 'Computer Science', 'Rawalpindi',
        85],
       [12, 'Noor Fatima', 22, 'Female', 'Data Science', 'Lahore', 97],
       [13, 'Talha Shah', 20, 'Male', 'Software Engineering', 'Karachi',
        78],
       [14, 'Anum Tariq', 21, 'Female', 'Artificial Intelligence',
        'Islamabad', 88],
       [15, 'Saad Iqbal', 23, 'Male', 'Computer Science', 'Faisalabad',
        82],
       [16, 'Alina Rauf', 20, 'Female', 'Information Technology',
        'Lahore', 91],
       [17, 'Shahzaib Khan', 22, 'Male', 'Data Science', 'Rawalpindi',
        80],
       [18, 'Fatima Aslam', 21, 'Female', 'Software Engineering',
        'Karachi', 94],
       [19, 'Abdullah Zafar', 23, 'Male', 'Artificial Intelligence',
        'Multan', 86],
       [20, 'Hareem Zahra', 20, 'Female', 'Computer Science',
        'Islamabad', 90],
       [21, 'Adeel Akhtar', 21, 'Male', 'Information Technology',
        'Lahore', 84],
       [22, 'Iqra Yousaf', 22, 'Female', 'Data Science', 'Faisalabad',
        96],
       [23, 'Kamran Malik', 20, 'Male', 'Software Engineering',
        'Karachi', 75],
       [24, 'Mehwish Tariq', 23, 'Female', 'Artificial Intelligence',
        'Rawalpindi', 91],
       [25, 'Imran Haider', 21, 'Male', 'Computer Science', 'Lahore', 79],
       [26, 'Aiman Khan', 20, 'Female', 'Data Science', 'Islamabad', 92],
       [27, 'Shahid Afridi', 22, 'Male', 'Information Technology',
        'Multan', 83],
       [28, 'Sadia Noor', 23, 'Female', 'Software Engineering',
        'Karachi', 95],
       [29, 'Ali Raza', 21, 'Male', 'Artificial Intelligence',
        'Faisalabad', 87],
       [30, 'Kinza Rehman', 22, 'Female', 'Computer Science',
        'Rawalpindi', 90],
       [31, 'Murtaza Shah', 23, 'Male', 'Data Science', 'Lahore', 89],
       [32, 'Anila Ahmed', 21, 'Female', 'Software Engineering',
        'Islamabad', 93],
       [33, 'Hamza Tariq', 22, 'Male', 'Artificial Intelligence',
        'Karachi', 85],
       [34, 'Samina Yousaf', 20, 'Female', 'Computer Science',
        'Faisalabad', 97],
       [35, 'Naveed Iqbal', 21, 'Male', 'Information Technology',
        'Lahore', 80],
       [36, 'Sobia Malik', 22, 'Female', 'Data Science', 'Multan', 94],
       [37, 'Omer Javed', 23, 'Male', 'Software Engineering',
        'Islamabad', 88],
       [38, 'Sehrish Khan', 21, 'Female', 'Artificial Intelligence',
        'Rawalpindi', 90],
       [39, 'Rehan Butt', 20, 'Male', 'Computer Science', 'Lahore', 83],
       [40, 'Shazia Noor', 23, 'Female', 'Data Science', 'Karachi', 91],
       [41, 'Hammad Qureshi', 22, 'Male', 'Software Engineering',
        'Multan', 87],
       [42, 'Arisha Zain', 21, 'Female', 'Information Technology',
        'Faisalabad', 92],
       [43, 'Zeeshan Ali', 20, 'Male', 'Artificial Intelligence',
        'Islamabad', 85],
       [44, 'Areeba Khan', 23, 'Female', 'Computer Science', 'Lahore',
        94],
       [45, 'Jawad Aslam', 22, 'Male', 'Data Science', 'Karachi', 78],
       [46, 'Fizza Malik', 21, 'Female', 'Software Engineering',
        'Rawalpindi', 89],
       [47, 'Mohsin Raza', 23, 'Male', 'Artificial Intelligence',
        'Faisalabad', 81],
       [48, 'Amna Yousaf', 20, 'Female', 'Information Technology',
        'Lahore', 93],
       [49, 'Rizwan Ahmed', 22, 'Male', 'Computer Science', 'Islamabad',
        88],
       [50, 'Hira Iqbal', 21, 'Female', 'Data Science', 'Karachi', 96]],
      dtype=object)

In [154]:
# Converting into numpy array
import numpy as np

v = np.asarray(csv_10)
v

array([[1, 'Ali Khan', 21, 'Male', 'Computer Science', 'Lahore', 88],
       [2, 'Sana Ahmed', 22, 'Female', 'Software Engineering', 'Karachi',
        92],
       [3, 'Ahmed Raza', 20, 'Male', 'Information Technology',
        'Islamabad', 79],
       [4, 'Ayesha Noor', 23, 'Female', 'Data Science', 'Faisalabad', 95],
       [5, 'Usman Tariq', 21, 'Male', 'Artificial Intelligence',
        'Rawalpindi', 84],
       [6, 'Hina Malik', 22, 'Female', 'Software Engineering', 'Lahore',
        90],
       [7, 'Farhan Ali', 20, 'Male', 'Computer Science', 'Karachi', 76],
       [8, 'Maria Khan', 21, 'Female', 'Data Science', 'Islamabad', 89],
       [9, 'Zain Rafiq', 22, 'Male', 'Artificial Intelligence', 'Multan',
        81],
       [10, 'Laiba Ahmed', 23, 'Female', 'Information Technology',
        'Faisalabad', 93],
       [11, 'Hassan Raza', 21, 'Male', 'Computer Science', 'Rawalpindi',
        85],
       [12, 'Noor Fatima', 22, 'Female', 'Data Science', 'Lahore', 97],
       [13, 'Talha Shah', 20, 'Male', 'Software Engineering', 'Karachi',
        78],
       [14, 'Anum Tariq', 21, 'Female', 'Artificial Intelligence',
        'Islamabad', 88],
       [15, 'Saad Iqbal', 23, 'Male', 'Computer Science', 'Faisalabad',
        82],
       [16, 'Alina Rauf', 20, 'Female', 'Information Technology',
        'Lahore', 91],
       [17, 'Shahzaib Khan', 22, 'Male', 'Data Science', 'Rawalpindi',
        80],
       [18, 'Fatima Aslam', 21, 'Female', 'Software Engineering',
        'Karachi', 94],
       [19, 'Abdullah Zafar', 23, 'Male', 'Artificial Intelligence',
        'Multan', 86],
       [20, 'Hareem Zahra', 20, 'Female', 'Computer Science',
        'Islamabad', 90],
       [21, 'Adeel Akhtar', 21, 'Male', 'Information Technology',
        'Lahore', 84],
       [22, 'Iqra Yousaf', 22, 'Female', 'Data Science', 'Faisalabad',
        96],
       [23, 'Kamran Malik', 20, 'Male', 'Software Engineering',
        'Karachi', 75],
       [24, 'Mehwish Tariq', 23, 'Female', 'Artificial Intelligence',
        'Rawalpindi', 91],
       [25, 'Imran Haider', 21, 'Male', 'Computer Science', 'Lahore', 79],
       [26, 'Aiman Khan', 20, 'Female', 'Data Science', 'Islamabad', 92],
       [27, 'Shahid Afridi', 22, 'Male', 'Information Technology',
        'Multan', 83],
       [28, 'Sadia Noor', 23, 'Female', 'Software Engineering',
        'Karachi', 95],
       [29, 'Ali Raza', 21, 'Male', 'Artificial Intelligence',
        'Faisalabad', 87],
       [30, 'Kinza Rehman', 22, 'Female', 'Computer Science',
        'Rawalpindi', 90],
       [31, 'Murtaza Shah', 23, 'Male', 'Data Science', 'Lahore', 89],
       [32, 'Anila Ahmed', 21, 'Female', 'Software Engineering',
        'Islamabad', 93],
       [33, 'Hamza Tariq', 22, 'Male', 'Artificial Intelligence',
        'Karachi', 85],
       [34, 'Samina Yousaf', 20, 'Female', 'Computer Science',
        'Faisalabad', 97],
       [35, 'Naveed Iqbal', 21, 'Male', 'Information Technology',
        'Lahore', 80],
       [36, 'Sobia Malik', 22, 'Female', 'Data Science', 'Multan', 94],
       [37, 'Omer Javed', 23, 'Male', 'Software Engineering',
        'Islamabad', 88],
       [38, 'Sehrish Khan', 21, 'Female', 'Artificial Intelligence',
        'Rawalpindi', 90],
       [39, 'Rehan Butt', 20, 'Male', 'Computer Science', 'Lahore', 83],
       [40, 'Shazia Noor', 23, 'Female', 'Data Science', 'Karachi', 91],
       [41, 'Hammad Qureshi', 22, 'Male', 'Software Engineering',
        'Multan', 87],
       [42, 'Arisha Zain', 21, 'Female', 'Information Technology',
        'Faisalabad', 92],
       [43, 'Zeeshan Ali', 20, 'Male', 'Artificial Intelligence',
        'Islamabad', 85],
       [44, 'Areeba Khan', 23, 'Female', 'Computer Science', 'Lahore',
        94],
       [45, 'Jawad Aslam', 22, 'Male', 'Data Science', 'Karachi', 78],
       [46, 'Fizza Malik', 21, 'Female', 'Software Engineering',
        'Rawalpindi', 89],
       [47, 'Mohsin Raza', 23, 'Male', 'Artificial Intelligence',
        'Faisalabad', 81],
       [48, 'Amna Yousaf', 20, 'Female', 'Information Technology',
        'Lahore', 93],
       [49, 'Rizwan Ahmed', 22, 'Male', 'Computer Science', 'Islamabad',
        88],
       [50, 'Hira Iqbal', 21, 'Female', 'Data Science', 'Karachi', 96]],
      dtype=object)

In [157]:
# sorting
csv_10.sort_index(axis = 0, ascending = False) # index is 0 so it will sort in column

,ID,Name,Age,Gender,Department,City,Marks
49,50,Hira Iqbal,21,Female,Data Science,Karachi,96
48,49,Rizwan Ahmed,22,Male,Computer Science,Islamabad,88
47,48,Amna Yousaf,20,Female,Information Technology,Lahore,93
46,47,Mohsin Raza,23,Male,Artificial Intelligence,Faisalabad,81
45,46,Fizza Malik,21,Female,Software Engineering,Rawalpindi,89
44,45,Jawad Aslam,22,Male,Data Science,Karachi,78
43,44,Areeba Khan,23,Female,Computer Science,Lahore,94
42,43,Zeeshan Ali,20,Male,Artificial Intelligence,Islamabad,85
41,42,Arisha Zain,21,Female,Information Technology,Faisalabad,92
40,41,Hammad Qureshi,22,Male,Software Engineering,Multan,87
39,40,Shazia Noor,23,Female,Data Science,Karachi,91
38,39,Rehan Butt,20,Male,Computer Science,Lahore,83
37,38,Sehrish Khan,21,Female,Artificial Intelligence,Rawalpindi,90
36,37,Omer Javed,23,Male,Software Engineering,Islamabad,88
35,36,Sobia Malik,22,Female,Data Science,Multan,94
34,35,Naveed Iqbal,21,Male,Information Technology,Lahore,80
33,34,Samina Yousaf,20,Female,Computer Science,Faisalabad,97
32,33,Hamza Tariq,22,Male,Artificial Intelligence,Karachi,85
31,32,Anila Ahmed,21,Female,Software Engineering,Islamabad,93
30,31,Murtaza Shah,23,Male,Data Science,Lahore,89
29,30,Kinza Rehman,22,Female,Computer Science,Rawalpindi,90
28,29,Ali Raza,21,Male,Artificial Intelligence,Faisalabad,87
27,28,Sadia Noor,23,Female,Software Engineering,Karachi,95
26,27,Shahid Afridi,22,Male,Information Technology,Multan,83
25,26,Aiman Khan,20,Female,Data Science,Islamabad,92
24,25,Imran Haider,21,Male,Computer Science,Lahore,79
23,24,Mehwish Tariq,23,Female,Artificial Intelligence,Rawalpindi,91
22,23,Kamran Malik,20,Male,Software Engineering,Karachi,75
21,22,Iqra Yousaf,22,Female,Data Science,Faisalabad,96
20,21,Adeel Akhtar,21,Male,Information Technology,Lahore,84
19,20,Hareem Zahra,20,Female,Computer Science,Islamabad,90
18,19,Abdullah Zafar,23,Male,Artificial Intelligence,Multan,86
17,18,Fatima Aslam,21,Female,Software Engineering,Karachi,94
16,17,Shahzaib Khan,22,Male,Data Science,Rawalpindi,80
15,16,Alina Rauf,20,Female,Information Technology,Lahore,91
14,15,Saad Iqbal,23,Male,Computer Science,Faisalabad,82
13,14,Anum Tariq,21,Female,Artificial Intelligence,Islamabad,88
12,13,Talha Shah,20,Male,Software Engineering,Karachi,78
11,12,Noor Fatima,22,Female,Data Science,Lahore,97
10,11,Hassan Raza,21,Male,Computer Science,Rawalpindi,85
9,10,Laiba Ahmed,23,Female,Information Technology,Faisalabad,93
8,9,Zain Rafiq,22,Male,Artificial Intelligence,Multan,81
7,8,Maria Khan,21,Female,Data Science,Islamabad,89
6,7,Farhan Ali,20,Male,Computer Science,Karachi,76
5,6,Hina Malik,22,Female,Software Engineering,Lahore,90
4,5,Usman Tariq,21,Male,Artificial Intelligence,Rawalpindi,84
3,4,Ayesha Noor,23,Female,Data Science,Faisalabad,95
2,3,Ahmed Raza,20,Male,Information Technology,Islamabad,79
1,2,Sana Ahmed,22,Female,Software Engineering,Karachi,92
0,1,Ali Khan,21,Male,Computer Science,Lahore,88

In [162]:
# csv_10["Department"][10] = "Telecom" in this method we get a warning and then we will use other method
csv_10.loc[1, "Department"] = "Telecom"
csv_10

,ID,Name,Age,Gender,Department,City,Marks
0,1,Ali Khan,21,Male,Computer Science,Lahore,88
1,2,Sana Ahmed,22,Female,Telecom,Karachi,92
2,3,Ahmed Raza,20,Male,Information Technology,Islamabad,79
3,4,Ayesha Noor,23,Female,Data Science,Faisalabad,95
4,5,Usman Tariq,21,Male,Artificial Intelligence,Rawalpindi,84
5,6,Hina Malik,22,Female,Software Engineering,Lahore,90
6,7,Farhan Ali,20,Male,Computer Science,Karachi,76
7,8,Maria Khan,21,Female,Data Science,Islamabad,89
8,9,Zain Rafiq,22,Male,Artificial Intelligence,Multan,81
9,10,Laiba Ahmed,23,Female,Information Technology,Faisalabad,93
10,11,Hassan Raza,21,Male,Telecom,Rawalpindi,85
11,12,Noor Fatima,22,Female,Data Science,Lahore,97
12,13,Talha Shah,20,Male,Software Engineering,Karachi,78
13,14,Anum Tariq,21,Female,Artificial Intelligence,Islamabad,88
14,15,Saad Iqbal,23,Male,Computer Science,Faisalabad,82
15,16,Alina Rauf,20,Female,Information Technology,Lahore,91
16,17,Shahzaib Khan,22,Male,Data Science,Rawalpindi,80
17,18,Fatima Aslam,21,Female,Software Engineering,Karachi,94
18,19,Abdullah Zafar,23,Male,Artificial Intelligence,Multan,86
19,20,Hareem Zahra,20,Female,Computer Science,Islamabad,90
20,21,Adeel Akhtar,21,Male,Information Technology,Lahore,84
21,22,Iqra Yousaf,22,Female,Data Science,Faisalabad,96
22,23,Kamran Malik,20,Male,Software Engineering,Karachi,75
23,24,Mehwish Tariq,23,Female,Artificial Intelligence,Rawalpindi,91
24,25,Imran Haider,21,Male,Computer Science,Lahore,79
25,26,Aiman Khan,20,Female,Data Science,Islamabad,92
26,27,Shahid Afridi,22,Male,Information Technology,Multan,83
27,28,Sadia Noor,23,Female,Software Engineering,Karachi,95
28,29,Ali Raza,21,Male,Artificial Intelligence,Faisalabad,87
29,30,Kinza Rehman,22,Female,Computer Science,Rawalpindi,90
30,31,Murtaza Shah,23,Male,Data Science,Lahore,89
31,32,Anila Ahmed,21,Female,Software Engineering,Islamabad,93
32,33,Hamza Tariq,22,Male,Artificial Intelligence,Karachi,85
33,34,Samina Yousaf,20,Female,Computer Science,Faisalabad,97
34,35,Naveed Iqbal,21,Male,Information Technology,Lahore,80
35,36,Sobia Malik,22,Female,Data Science,Multan,94
36,37,Omer Javed,23,Male,Software Engineering,Islamabad,88
37,38,Sehrish Khan,21,Female,Artificial Intelligence,Rawalpindi,90
38,39,Rehan Butt,20,Male,Computer Science,Lahore,83
39,40,Shazia Noor,23,Female,Data Science,Karachi,91
40,41,Hammad Qureshi,22,Male,Software Engineering,Multan,87
41,42,Arisha Zain,21,Female,Information Technology,Faisalabad,92
42,43,Zeeshan Ali,20,Male,Artificial Intelligence,Islamabad,85
43,44,Areeba Khan,23,Female,Computer Science,Lahore,94
44,45,Jawad Aslam,22,Male,Data Science,Karachi,78
45,46,Fizza Malik,21,Female,Software Engineering,Rawalpindi,89
46,47,Mohsin Raza,23,Male,Artificial Intelligence,Faisalabad,81
47,48,Amna Yousaf,20,Female,Information Technology,Lahore,93
48,49,Rizwan Ahmed,22,Male,Computer Science,Islamabad,88
49,50,Hira Iqbal,21,Female,Data Science,Karachi,96

In [164]:
# loc to see specific data
csv_10.loc[[2, 3], ["Name", "Marks"]]
# csv_10.loc[:, ["Name", "Marks"]] for all rows
# csv_10.loc[[2, 3], :] for all columns

   ID         Name  Age  Gender              Department        City  Marks
2   3   Ahmed Raza   20    Male  Information Technology   Islamabad     79
3   4  Ayesha Noor   23  Female            Data Science  Faisalabad     95

In [165]:
# iloc for a specific data
csv_10.iloc[0, 1]

'Ali Khan'

In [166]:
# Drop function
csv_10.drop("Name", axis = 1)

    ID  Age  Gender               Department        City  Marks
0    1   21    Male         Computer Science      Lahore     88
1    2   22  Female                  Telecom     Karachi     92
2    3   20    Male   Information Technology   Islamabad     79
3    4   23  Female             Data Science  Faisalabad     95
4    5   21    Male  Artificial Intelligence  Rawalpindi     84
5    6   22  Female     Software Engineering      Lahore     90
6    7   20    Male         Computer Science     Karachi     76
7    8   21  Female             Data Science   Islamabad     89
8    9   22    Male  Artificial Intelligence      Multan     81
9   10   23  Female   Information Technology  Faisalabad     93
10  11   21    Male                  Telecom  Rawalpindi     85
11  12   22  Female             Data Science      Lahore     97
12  13   20    Male     Software Engineering     Karachi     78
13  14   21  Female  Artificial Intelligence   Islamabad     88
14  15   23    Male         Computer Science  Faisalabad     82
15  16   20  Female   Information Technology      Lahore     91
16  17   22    Male             Data Science  Rawalpindi     80
17  18   21  Female     Software Engineering     Karachi     94
18  19   23    Male  Artificial Intelligence      Multan     86
19  20   20  Female         Computer Science   Islamabad     90
20  21   21    Male   Information Technology      Lahore     84
21  22   22  Female             Data Science  Faisalabad     96
22  23   20    Male     Software Engineering     Karachi     75
23  24   23  Female  Artificial Intelligence  Rawalpindi     91
24  25   21    Male         Computer Science      Lahore     79
25  26   20  Female             Data Science   Islamabad     92
26  27   22    Male   Information Technology      Multan     83
27  28   23  Female     Software Engineering     Karachi     95
28  29   21    Male  Artificial Intelligence  Faisalabad     87
29  30   22  Female         Computer Science  Rawalpindi     90
30  31   23    Male             Data Science      Lahore     89
31  32   21  Female     Software Engineering   Islamabad     93
32  33   22    Male  Artificial Intelligence     Karachi     85
33  34   20  Female         Computer Science  Faisalabad     97
34  35   21    Male   Information Technology      Lahore     80
35  36   22  Female             Data Science      Multan     94
36  37   23    Male     Software Engineering   Islamabad     88
37  38   21  Female  Artificial Intelligence  Rawalpindi     90
38  39   20    Male         Computer Science      Lahore     83
39  40   23  Female             Data Science     Karachi     91
40  41   22    Male     Software Engineering      Multan     87
41  42   21  Female   Information Technology  Faisalabad     92
42  43   20    Male  Artificial Intelligence   Islamabad     85
43  44   23  Female         Computer Science      Lahore     94
44  45   22    Male             Data Science     Karachi     78
45  46   21  Female     Software Engineering  Rawalpindi     89
46  47   23    Male  Artificial Intelligence  Faisalabad     81
47  48   20  Female   Information Technology      Lahore     93
48  49   22    Male         Computer Science   Islamabad     88
49  50   21  Female             Data Science     Karachi     96